//COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eeeeee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;


$color-white: #ffffff;
$color-black: #000000;

//FONT
$default-font-size: 1.6rem;

//GRID

$grid-width: 108rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;

